:root {
  --background-color: #112240;
  --navbar-color: rgb(227, 242, 253);
}
body {
  background-color: var(--background-color);
  color: white;
  padding: 0px 100px 0px 100px;
}
.initials {
  color: var(--background-color);
  max-width: 100px;
  max-height: auto;
  padding: 5px 10px 5px 10px;
  border: 3px solid var(--background-color);
  border-radius: 4px;
}

.hero h3 {
  text-align: center;
  margin-top: 180px;
  font-size: 25px;
}
.hero h1 {
  text-align: center;
  font-size: 65px;
  color: var(--navbar-color);
}
.hero h2 {
  text-align: center;
  font-size: 25px;
}
.homepage-about {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.contact-me-link {
  margin-top: 40px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
  background: var(--navbar-color);
  color: var(--background-color);
}
.hero p {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
.projects-below {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 80px;
  font-size: 20px;
}
.running-project,
.weather-project {
  margin-top: 25px;
}
.runningProject-link {
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
  background: var(--navbar-color);
  color: var(--background-color);
}
.weatherProject-link {
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
  background: var(--navbar-color);
  color: var(--background-color);
}

footer {
  text-align: center;
}
@media (max-width: 450px) {
  h1 {
    font-size: 45px;
  }
  body {
    padding: 0px 25px;
  }
  .contact-section h1 {
    margin-top: 180px;
  }
  footer {
    font-size: 15px;
    text-align: center;
  }
}
