:root {
  --background-color: #150734;
  --navbar-color: #90e0ef;
  --secondary-font-color: rgb(227, 242, 253);
}
body {
  background-color: var(--background-color);

  color: white;
  padding: 0px 100px 0px 100px;
}
.initials {
  max-width: 100px;
  max-height: auto;
  padding: 5px 10px 5px 10px;
  border: 3px solid var(--background-color);
  border-radius: 4px;
}
.hero-main {
  border-top: 4px solid var(--navbar-color);
  border-bottom: 4px solid var(--navbar-color);
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero h3 {
  text-align: center;
  font-size: 25px;
  color: var(--secondary-font-color);
}
.hero h1 {
  text-align: center;
  font-size: 65px;
  color: var(--navbar-color);
}
.hero h2 {
  text-align: center;
  font-size: 25px;
  color: var(--secondary-font-color);
}
.homepage-about {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}
.contact-me-link,
.about-me-link {
  margin-top: 40px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
  background: var(--secondary-font-color);
  color: var(--background-color);
}
.hero p {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
.projects-below {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 60px;
  font-size: 20px;
}

.projects h2 {
  color: var(--navbar-color);
}
.running-project,
.weather-project {
  margin-top: 30px;
  font-size: 20px;
}
.runningProject-link {
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
  background: var(--secondary-font-color);
  color: var(--background-color);
}

.weatherProject-link {
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
  background: var(--secondary-font-color);
  color: var(--background-color);
}
.contact-section h1,
.about-section h1,
.work-section h1 {
  margin-top: 180px;
  color: var(--navbar-color);
  font-size: 60px;
}
.contact-section a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
.contact-section a:hover {
  text-decoration: underline;
}

.about-section p {
  font-size: 20px;
}
.about-section h2 {
  color: var(--navbar-color);
}
.about-section .contact-me-link {
  display: flex;
  justify-content: center;
  max-width: 125px;
}
.headshot {
  border: 1px solid black;
  border-radius: 50%;
  max-width: 250px;
}

.csulogo {
  max-width: 80px;
}
.about-section h2 {
  margin-top: 50px;
}
.education-section {
  margin-top: 40px;
}
.degree1,
.degree2 {
  font-size: 20px;
}
.education,
.skills {
  margin-top: 60px;
  color: var(--navbar-color);
}
.skill-list {
  margin-top: 30px;
  font-size: 20px;
}
.certificates {
  margin-top: 40px;
  color: var(--navbar-color);
}

.intro-certificate,
.front-end-certificate {
  max-width: 300px;
  margin: 20px;
  margin-top: 30px;
}

footer {
  text-align: center;
  margin-top: 70px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 45px;
  }
  body {
    padding: 0px 25px;
  }
  .contact-section h1,
  .about-section h1,
  .work-section h1 {
    margin-top: 80px;
  }
  .about-section-body {
    text-align: center;
  }
  .projects-below {
    margin-top: 70px;
  }
  .headshot {
    max-width: 200px;
  }

  .degree1 {
    margin-top: 30px;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }

  .intro-certificate,
  .front-end-certificate {
    max-width: 250px;
  }
  .weather-project-heading {
    margin-top: 70px;
  }

  .weather-project-image {
    margin-top: -50px;
  }
  footer {
    margin-top: 40px;
    font-size: 15px;
    text-align: center;
  }
}
